.row
  .col-md-12
    .ibox
      .ibox-content
        .text-center
          = form_tag pools_path, multipart: true, class: 'dropzone' do
            .fallback
              = file_field_tag :file
              = submit_tag 'Загрузить файл'
            .dz-message
              = icon 'fa fa-cloud-upload fa-3x'
              p Перетащите файл сюда или нажмите на облачко


.row
  .col-md-12
    .ibox
      .ibox-content
        .row
          .col-md-12
            .m-b-md
              = link_to 'Добавить новый пул',
                      pools_path,
                      method: :post,
                      class: 'btn btn-success btn-outline pull-right'
              h2 Список пулов
        .row
          .col-md-12
            table.table.table-striped.table-responsive
              thead
                tr
                  th Идентификатор
                  th Дата создания
                  th Ожидаемая доходность(%)
                  th Фактическая доходность(%)
                  th col=2

              tbody
                - @pools.each do |pool|
                  tr
                    td = pool.id
                    td = pool.created_at.to_formatted_s(:short)
                    td = number_with_precision(pool.expected_yield, precision: 2)
                    td = number_with_precision(pool.actual_yield, precision: 2)
                    td
                      = link_to pool do
                        = icon 'fa fa-eye fa-lg'
                    td
                      = link_to pool, data: { confirm: 'Вы уверены?' }, method: :delete do
                        = icon 'fa fa-trash-o fa-lg text-danger'
