.row
  .col-md-12
    .ibox
      .ibox-content
        .row
          .col-md-12
            .m-b-md
              = link_to 'Вернуться к пулам',
                      pools_path,
                      class: 'btn btn-success btn-outline pull-right'
              = link_to 'Добавить новый кредит',
                      new_pool_loan_path(@pool),
                      class: 'btn btn-primary btn-outline pull-right'
              h2
                | Список кредитов(юрлиц) в пуле №
                =< @pool.id
        .row
          .col-md-12
            table.table.table-striped.table-responsive
              thead
                tr
                  th Юрлицо
                  th Ставка годовых(%)
                  th Доходность годовых(%)
                  th col=3

              tbody
                - @pool.loans.order(created_at: :desc).each do |loan|
                  tr
                    td = loan.legal_entity
                    td = number_with_precision(loan.rate, precision: 2)
                    td = number_with_precision(loan.yield, precision: 2)
                    td
                      = link_to loan_path(loan) do
                        = icon 'fa fa-eye fa-lg'
                    td
                      = link_to edit_loan_path(loan) do
                        = icon 'fa fa-edit fa-lg'
                    td
                      = link_to loan, data: { confirm: 'Вы уверены?' }, method: :delete do
                        = icon 'fa fa-trash-o text-danger fa-lg'