= simple_form_for([@pool, @loan]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :legal_entity
    = f.input :rate
    = f.input :term
    = f.input :amount
    = f.input :delinquency_rate
    = f.input :period
    = f.input :monthly_debt_payment, readonly: true
    = f.input :monthly_interest_payment, readonly: true
    = f.input :total_monthly_payment, readonly: true
    = f.input :total_payment, readonly: true

  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-outline'
