.row
  .col-md-12
    .ibox
      .ibox-content
        .row
          .col-md-12
            .m-b-md
              = link_to 'Вернуться к кредиту',
                      loan_path(@loan),
                      class: 'btn btn-success btn-outline pull-right'
              = link_to 'Вернуться к пулу',
                      pool_path(@loan.pool),
                      class: 'btn btn-success btn-outline pull-right'
              h2
                | Редактирование кредита №
                =< @loan.id
        .row
          .col-md-12
            = render 'form'


