.row
  .col-md-12
    .ibox
      .ibox-content
        .row
          .col-md-12
            .m-b-md
              = link_to 'Вернуться к пулу',
                      pool_path(@loan.pool),
                      class: 'btn btn-success btn-outline pull-right'
              h2 Добавление кредита
        .row
          .col-md-12
            = render 'form'

