.row
  .col-md-12
    .ibox
      .ibox-content
        .row
          .col-md-12
            .m-b-md
              = link_to 'Редактировать', edit_loan_path(@loan), class: 'btn btn-success btn-outline pull-right'
              = link_to 'Вернуться к пулу', pool_path(@loan.pool), class: 'btn btn-success btn-outline pull-right'
              h2
                | Кредит юрлица
                =< @loan.legal_entity
        .row
          .col-md-6
            dl.dl-horizontal
              dt Сумма:
              dd = @loan.amount
              dt Срок(мес):
              dd = @loan.term
              dt Ставка(годовых):
              dd = "#{@loan.rate}%"
              dt Ставка при просрочке:
              dd = "#{@loan.delinquency_rate|| '-'}%"
              dt Период:
              dd = @loan.period

          .col-md-6
            dl.dl-horizontal
              dt Ежемесячный по долгу:
              dd = number_with_precision(@loan.monthly_debt_payment, precision: 2)
              dt Ежемесячный по процентам:
              dd = number_with_precision(@loan.monthly_interest_payment, precision: 2)
              dt Общий ежемесячный:
              dd = number_with_precision(@loan.total_monthly_payment, precision: 2)
              dt Сумма выплаты:
              dd = number_with_precision(@loan.total_payment, precision: 2)
        .row
          .col-md-4
            h3
              | Выплачено процентов:
              =< number_with_precision(@loan.interest_paid, precision: 2)
          .col-md-4
            h3
              | Выплачено ОД:
              =< number_with_precision(@loan.debt_paid, precision: 2)
          .col-md-4
            h3
              | Доходность(годовых):
              =< number_with_precision(@loan.yield, precision: 2)



.row
  .col-md-12
    .ibox
      .ibox-content
        .row
          .col-md-12
            .m-b-md
              = link_to 'Добавить выплаты',
                      new_loan_payout_path(@loan),
                      class: 'btn btn-success btn-outline pull-right'
              h2 Выплаты по кредиту

        .row
          .col-md-12
            table.table.table-striped.table-responsive
              thead
                tr
                  th Месяц
                  th Сумма
                  th col=2

              tbody
                - @loan.payouts.order(created_at: :desc).each do |payout|
                  tr
                    td = payout.month
                    td = number_with_precision(payout.amount, precision: 2)
                    td
                      = link_to edit_payout_path(payout) do
                        = icon 'fa fa-edit fa-lg'
                    td
                      = link_to payout, data: { confirm: 'Вы уверены?' }, method: :delete do
                        = icon 'fa fa-trash-o text-danger fa-lg'
