= simple_form_for([@loan,@payout]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :month
    = f.input :amount

  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-outline'
