.row
  .col-md-12
    .ibox
      .ibox-content
        .row
          .col-md-12
            .m-b-md
              = link_to 'Вернуться к кредиту',
                      loan_path(@payout.loan),
                      class: 'btn btn-success btn-outline pull-right'
              h2
                | Редактирование выплаты №
                =< @payout.id
        .row
          .col-md-12
            = render 'form'

