.row.border-bottom.white-bg
  nav.navbar.navbar-static-top role="navigation"
    .navbar-header
      button.navbar-toggle.collapsed aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button"
        = icon 'reorder'
      = link_to 'Yield Calc', root_path, class: 'navbar-brand'

    .navbar-collapse.collapse#navbar
      ul.nav.navbar-nav
        li
          = link_to 'Список пулов', pools_path
