doctype html
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    title Yieldcalc
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'

  body.md-skin.top-navigation
    #wrapper
      #page-wrapper.gray-bg
        = render 'layouts/topnavbar'
        .wrapper.wrapper-content
          .container
            = yield
    = javascript_include_tag 'application'